

.modal-content {
    box-shadow: 5px 5px 15px #00000036;
    border-radius: 10px;
    margin: 10px;
    background-image: url(/assets/img/fundo_tijolo.png);
}

.modal-backdrop {
    backdrop-filter: blur(10px);
    background-color: #00000070;
}

.modal-header {
    background-color: #015445;
    box-shadow: 2px 2px 7px #00000036;
    color: white;
}

.modal-backdrop.in {
    opacity: 1;
}

.btn {
    border: none;
    &.btn-primary {
        background-color: #015445;
    }

    &.btn-secondary {
        background-color: #003229;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.3rem #04836c57;
    }

}

.modal-content input:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem #04836c57;
    border-color: #015445;
}

.result-text {
    margin-top: 20px;
}

select {
    background-color: #007660;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.form-check {
    margin-top: 10px;
}

.fas {
    color: #007660;
} 

.buttons-container button:hover {
    background-color: #006b57;
    padding: 20px;
    box-shadow: #003229 2px 2px 10px;
}