a:hover {
    text-decoration: none;
}

.carousel {
    margin-top: 15px;
    margin-bottom: 35px;
    width: 900px;
    max-height: auto;
    margin: 0px 10px 0px 10px;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px #00000057;
}

.carousel-inner img {
    object-fit: cover;
}


/* Produtos */


.product-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.product-item {
    list-style: none;
    padding: 8px;
    width: 200px;
    height: 300px;
}

.img-produto {
    width: 100%;
    height: auto;
}

.product-title {
    font-size: 1rem;
}

.circulo {
    width: 150px;
    background-color: #026655;
    border-radius: 50%;
    padding: 10%;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
}


.calculator-icon {
    color: #6AB43A;
}

.circulo:hover {
    padding: 13px;
}

.product-title {
    margin-top: 10px;
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
    max-height: 100px;
    /* Altura máxima do texto */
    text-align: center;

}

/* Evento do Carro */

.car-event {
    background-color: #025446;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}

#car-img {
    width: 700px;
    height: auto;
    transform: translateY(1000);
    z-index: 1;
    filter: drop-shadow(0px 40px 50px rgba(0, 0, 0, 0.5));
}

.image-background {
    display: flex;
    justify-content: center;
    position: relative;
}

#event-title {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

#mark-text {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6AB43A;
    padding-left: 10px;
    padding-right: 10px;
}

.rect {
    background-color: #003223;
    position: absolute;
    width: 100%;
    height: 220px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}


/* Infos */

.infos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.infos-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #256251;
    width: 280px;
    border-radius: 100px;

    &:first-child {
        margin-right: 20px;
    }
}

.info-text {
    margin-left: 10px;
    color: white;
    font-size: 1.2rem;
}

#highlight {
    color: #CED424;
    font-weight: 600;
}



.carousel-indicators {
    z-index: 5;
}


@media (max-width: 880px) {
    #product-section-title {
        font-size: 1.4rem;
    }

    .infos-box {
        padding: 5px;
        width: 180px;
    }

    .info-text {
        font-size: 0.8rem;
    }

    .infos-box img {
        width: 30px;
        height: auto;
    }

    .carousel-inner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .rect {
        height: 150px;
    }

    #event-title {
        font-size: 1.1rem;
    }

}

@media only screen and (max-width: 768px) {
    .buttons-container {
        flex-direction: column;
        align-items: center;

        .btn-primary {
            margin-left: 0;
            margin-top: 10px;
        }
    }
    

}

.product-list::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.product-list::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #b8b8b898;
}

.product-list::-webkit-scrollbar-thumb {
    background: #025446;
    border-radius: 10px;
    
}